[submodule "Premake/premake-Qt"]
	path = Premake/premake-Qt
	url = https://github.com/dcourtois/premake-qt.git
[submodule "PotatoEarth/extern/spdlog"]
	path = PotatoEarth/extern/spdlog
	url = https://github.com/Ld-LaoWu/spdlog.git
[submodule "PotatoEarth/extern/glm"]
	path = PotatoEarth/extern/glm
	url = https://github.com/Ld-LaoWu/glm.git
[submodule "PotatoEarth/extern/ImGui"]
	path = PotatoEarth/extern/ImGui
	url = https://github.com/Ld-LaoWu/imgui.git
